@import "compass/reset";
@import "compass/utilities/sprites";
@import "compass/utilities";
@import "compass/css3";
@import "icons/*.png";


/**
* Import Typography
*/

@import "typography/clarendon-roman";

/**
* Set Variables
*/

// see use of default: http://robots.thoughtbot.com/sass-default
$link-color: #000 !default;
$highlight: #FF8A7F;

/**
* General Selectors
*/

*,
*:after,
*:before {
  @include box-sizing(border-box);
}


body {
	background: white url('../img/bg.png') center top repeat;
	color: #000;
	padding: 20px 0 44px;
	font-family: 'clarendon_btroman', serif;
}

img { display: block; }

/**
* Home
*/

.home {
	[role='main'] { background-color: #D9D9D9; }
}

.welcome {
	@include pie-clearfix;
	margin-bottom: 50px;
	p { 
		font-size: 36px; 
		font-weight: bold;
		line-height: 38px;
		padding: 0 5px;
		width: 50%;
		&:first-child { float: left;}
		&:last-child { float: right; text-align: center; }
		small { font-size: 30px; }
	}
}

/**
* Layout
*/


.page {
	margin: 0 auto;
	width: 980px;
	> header {
		text-align: center;
		img { display: inline-block; vertical-align: top; }
		nav {
			border: 3px solid #000;
			border-style: solid none;
			margin: 10px auto;
			width: 780px;
			ul { 
				display: flex; 
				justify-content: space-around; 
				li[class*="current"] a { color: $highlight; }
			}
			a { 
				@include transition(color 250ms cubic-bezier(0.000, 0.000, 0.580, 1.000));
				color: $link-color;
				font-size: 32px;
				line-height: 53px;
				text-decoration: none;
				&:hover {
					color: $highlight;
				}
			}
		}
	}
}

.grid {
	@include pie-clearfix;
	margin: 0 0 0 60px;
	padding-bottom: (60px-16px);
	> li {
		float: left;
		margin: 0 16px 16px 0;
	}
}

/**
* Footer
*/

.social {
	@include all-icons-sprites;
	text-align: right;
	vertical-align: top;
	font-size: 0;
	margin: 32px 100px 0;
	a {
		@include hide-text(left);
		display: inline-block;
		height: 30px;
		margin-left: 8px;
		width: 30px;
	}
}
