@font-face {
	font-family: 'clarendon_btroman';
	src: url('../fonts/clarendon-roman/08634_clarendonbt-webfont.woff2') format('woff2'),
		url('../fonts/clarendon-roman/08634_clarendonbt-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}